@import "tailwindcss";

@font-face {
  font-family: "IRANYekan";
  src: url("/fonts/iranyekanweblight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "IRANYekan";
  src: url("/fonts/iranyekanwebregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IRANYekan";
  src: url("/fonts/iranyekanwebbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Madimi One";
  src: url("/fonts/MadimiOne-Regular.ttf") format("ttf");
  /* font-weight: 700; */
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --mybg: #16262c;
  --mygreen: #05d377;
  --mygreenLight: #6efbbb;
  --font-madimi: "Madimi One", sans-serif;
  --font-inter: "Inter", sans-serif;
  --myblue: #60a0f7;
  --myblueLight: #9bc4f9;
  --myred: #ff505f;
  --myredLight: #ff9ca2;
  --myorange: #ffc585;
  --myorangeLight: #fff7c4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-mybg: var(--mybg);
  --color-mygreen: var(--mygreen);
  --color-mygreenLight: var(--mygreenLight);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-madimi: var(--font-madimi);
  --color-myblue: var(--myblue);
  --color-myblueLight: var(--myblueLight);
  --color-myred: var(--myred);
  --color-myredLight: var(--myredLight);
  --color-myorange: var(--myorange);
  --color-myorangeLight: var(--myorangeLight);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "IRANYekan", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
